boto3==1.34.115
botocore==1.34.115
fastapi==0.111.0
mecab_python3==1.0.9
unidic-lite==1.0.8
redis==5.0.4
numpy==1.26.4
openai==1.30.5
pinecone==4.0.0
pydantic==2.7.2
python-dotenv==1.0.1
python_magic==0.4.27
slowapi==0.1.9
flake8==7.0.0
uvicorn==0.30.1
